$background-image:url(../images/bg-intro-desktop.png);
$background-color:hsl(0, 100%, 74%);
$text-color: white;
$font-family:'Poppins', sans-serif;
$font-size-large: 55px;
$font-size-medium: 20px;
$font-size-small: 16px;
